@import url('https://fonts.googleapis.com/css?family=Muli:300,900');

body {
  font-size: 1.3rem;
  line-height: 1.65;
  font-family: 'Muli', sans-serif;
  color: #1E1E24;
  background-color: #333;
  margin: 2em;
}

h1 {
  font-size: 4rem;
  color: #999;
  font-weight: 600;
}

h3 {
  margin-top: 0;
  margin-bottom: 2pt;
  font-size: 1.5rem;
  color: #999;
  font-weight: 600;
}

strong {
  margin-top: 0;
  margin-bottom: 2pt;
  font-size: 1.25rem;
  color: #999;
  font-weight: 600;
}

 /* unvisited link */
a:link {
  color: red;
}
/* visited link */
a:visited {
  color: green;
}
/* mouse over link */
a:hover {
  color: hotpink;
}
/* selected link */
a:active {
  color: blue;
} 

.button {
  background-color: #555555;
  border: none;
  color: red;
  padding: 6px 15px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

p {
  margin-top: 0; 
  color: #999;
}

.columns {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-width: 350px;
     -moz-column-width: 350px;
          column-width: 350px;
  -webkit-column-gap: 2.5em;
     -moz-column-gap: 2.5em;
          column-gap: 2.5em;}
  -webkit-column-rule: 1px dotted #999;
     -moz-column-rule: 1px dotted #999;
          column-rule: 1px dotted #999;
-webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
}

@media (min-width: 500px) {
  .columns {
    height: 350px;
  }
/*
.columns {
  column-count: 2;
  column-width: 350px;
  column-rule: 1px dotted #999;
  column-gap: 2.5em;
}

*/

div.chain {
-webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
}

.desc {     
  display: inline-block;
  -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
}

